 #root {
  background-color: rgb(50, 50, 50);
   margin: 0 auto;
  text-align: center; 
} 

#rightDoor {
  height: 50vh;
  width: 50vw;
  background-color: whitesmoke;
  animation-duration: 5s;
  animation-name: slideRight;
  animation-fill-mode: forwards;
}

@keyframes slideRight {

  from {
    margin-left: 0%;
  }
  to {
    margin-left: 200%;
  }
}

.navcontain {
  border: 5px,solid,black;
  background-color: darkred;
  text-shadow: slategray;
   top: 0px;
   width: 100%;
   z-index: 999;
}

ul {
  list-style-type: none;
}

.gall {
  align-self: center;
  justify-items: center;
  /* position: fixed; */
  top: 40px;
  z-index: 1;
  background-color: darkslategray;
}

.detail-one {
  font-weight: bolder;
}

