 #root {
  background-color: #292f36;
   margin: 0 auto;
  text-align: center; 
} 

@keyframes slideRight {

  from {
    margin-left: 0%;
  }
  to {
    margin-left: 200%;
  }
}

.navcontain {
  background-color: darkred;
   top: 0px;
   width: 100%;
   z-index: 999;
}

ul {
  list-style-type: none;
}

.about-text-body {
  color: #a50104;
  text-shadow: rgb(2, 2, 1) 1px 0 10px;
}

.gall {
  align-self: center;
  justify-items: center;
  /* position: fixed; */
  top: 40px;
  z-index: 1;
  background-color: darkslategray;
}

.detail-one {
  font-weight: bolder;
}

.flex-box {
  display: flex;
  flex-flow: row wrap;
}

.flex-box #myCarousel{
  flex: 1 1 50%
}

.flex-box #desc {
  flex: 1 1 50%;
}

/* COLOR SCHEME:
  READABLE Black: 292f36
  Gold: e59500
  Red: a50104 */